.elem {
    background-color: gray;
    /* border-radius: 10px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 60px;
}


.btn {
    background-color: transparent;
    border: none;
    width: 46px;
    height: 60px;
    margin-left: auto;
    margin-right: 0px;
}

.chbx {
    margin: 0 17px;
}

.sbhdln {
    color: var(--tg-theme-hint-color);
    
}

.hdlnbd {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text {
    overflow: hidden;
    
}

.textbtndiv {
    overflow: hidden;
    flex-grow: 1;
    height: 60px;
    
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
} 

.lastItem {
    border-bottom: none;
}